Lenguaje de Marcas/Practica/DTD/botiga.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="botiga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producte" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nom">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="marca">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="preu">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minExclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="stock">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="etiquetes" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="etiqueta" maxOccurs="unbounded">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>


                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                        <xs:attribute name="categoria" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="electronica"/>
                                    <xs:enumeration value="roba"/>
                                    <xs:enumeration value="alimentacio"/>
                                    <xs:enumeration value="llar"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="moneda" fixed="EUR"/>
                        <xs:attribute name="estat" default="disponible">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="disponible"/>
                                    <xs:enumeration value="esgotat"/>
                                    <xs:enumeration value="reservat"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>